body {
    background-color: steelblue;
}

#content {
    margin-left: 12.5%;
    margin-right: 12.5%;
    margin-top: 7%;
}

#content h1 {
    font-size: 125px;
    font-weight: lighter;
    color: white;
}

#content p {
    font-size: 25px;
    color: white;
}

.grid {
    display: grid;
}

.grid img {
    grid-column: 1;
}

.grid div {
    grid-column: 2;
    line-height: 25px;
}